@model SearchViewModel

<!DOCTYPE html>
<html>
<head>
    <title>برنامج بحث عن الأحاديث النبوية</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .spinner {
            display: none; 
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 60px;
            z-index: 1;
        }

        .table-container {
            position: relative;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">بحث عن الأحاديث النبوية</h1>
    <br />
    <div class="cr-se">
        @using (Html.BeginForm("Index", "Hadiths", FormMethod.Get, new { id = "search-form" }))
        {
            <b>البحث : </b>
            <div class="search-bar-with-button">
                @Html.TextBox("searchText", null, new { @class = "search-bar", placeholder = "ابحث هنا عن الحديث...", id = "search-input" })
                <input type="submit" value="بحث" class="btn btn-success" id="search-btn">
            </div>
        }
    </div>
    <br />

    <div class="table-container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>نص الحديث</th>
                    <th>نسبة الشبه</th>
                    <th>MNO</th>
                </tr>
            </thead>
            <tbody id="results-body">
                @if (Model.Results.Count == 0)
                {
                    <tr id="empty-row">
                        <td colspan="4" style="text-align:center;">فارغ</td>
                    </tr>
                }
                else
                {
                    int rowNo = 0;
                    foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@(rowNo += 1)</td>
                            <td>@Html.Raw(result.Text)</td>
                            <td>@result.Accuracy</td>
                            <td>@result.MNO</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="spinner-border text-primary spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.spinner').hide();

            $('#search-form').on('submit', function (e) {
                e.preventDefault(); 

                $('.spinner').show();
                $('#results-body').hide();

                $.ajax({
                    url: $(this).attr('action'),
                    type: 'GET',
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#results-body').html($(data).find('#results-body').html());
                        $('.spinner').hide(); 
                        $('#results-body').show(); 
                    },
                    error: function () {
                        $('.spinner').hide(); 
                        $('#results-body').show(); 
                    }
                });
            });
        });
    </script>
</body>
</html>
